@model IEnumerable<GameLandWebApplication.Game>

@{
    ViewData["Title"] = "Statistics";
}
<style>
    .mlink {
        color: #000000;
        text-decoration: none; 
    }

    .mlink:visited {
        color: #000000; 
    }

    .mlink:hover {
        color: darkred;
        text-decoration: none;
    }
</style>

<h1 style="text-align:center; font-weight:800;">Statistic</h1>

<div class="container">
    <div id="chart1" style="margin-bottom:10px;"></div>
    <div id="chart2" style="margin-bottom:20px"></div>
    <div style="display:flex;">
        <div style="margin: auto;">
            <h3 style="text-align:center;">Select exel-file to import</h3>
            @using (Html.BeginForm("Import", "Games", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
            {
                <div style="text-align: center;">
                    Import Excel-file:
                    <input type="file" name="fileExcel" id="fileExcel" />
                    <div style="text-align: center;">
                        <input type="submit" value="Import" />
                    </div>
                </div>
            }
        </div>
        <div style="margin: auto;">
            <h3 style="font-weight:400; text-align:center;text-decoration: none;"><a class="mlink" asp-controller="Games" asp-action="Export">Download info in .xlsx file</a></h3>
        </div>
    </div>
</div>
@section scripts{
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/JsonData', function (JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var option = {
                    title: "The ratio of the number of games and platforms",
                    width: 1200,
                    height: 700
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/JsonDota', function (JsonDota) {
                data = google.visualization.arrayToDataTable(JsonDota, false);
                var option = {
                    title: "10 most popular gamegenres",
                    width: 1200,
                    height: 700
                };
                chart = new google.visualization.ColumnChart(document.getElementById('chart2'));
                chart.draw(data, option);
            })
        }
    </script>
}

